* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  min-height: 550px;
  background-color: #f5f7f9;
}
.auth .auth-form {
  display: flex;
  width: 60%;
  height: 80%;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
}
.auth .auth-form__item {
  flex: 1;
}
.auth .auth-form__img {
  background-image: url("../assets/Background.png");
  background-size: cover;
  background-position: center;
}
.auth .auth-form__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 25px 15px;
}
.auth .auth-form__logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
}
.auth .auth-form__logo-container .auth-form__logo {
  width: 320px;
  height: 80px;
}
.auth .auth-form__title-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
}
.auth .auth-form__title-container .auth-form__title {
  font-size: 28px;
}
.auth .auth-form__title-container .auth-form__subtitle {
  margin-bottom: 50px;
  color: #b5b3b3;
}
.auth .auth-form__input-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.auth .auth-form__input-container .auth-form___input {
  width: 80%;
  border: none;
  border-bottom: 1px solid #98a9cd;
  padding: 5px 15px;
}
.auth .auth-form__input-container .auth-form___input:first-child {
  margin-bottom: 25px;
}
.auth .auth-form__button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.auth .auth-form__button-container .auth-form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 50px;
  background: #460e87;
  color: #fff;
  font-weight: bold;
  border-radius: 30px;
  transition: 0.5s;
  text-decoration: none;
}
.auth .auth-form__button-container .auth-form__button:hover {
  background: #54149e;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  border-bottom: 1px dashed #8ca0c7;
}
.header .header-title {
  height: 60px;
}
.header .header-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
}
.header .header-info .exit {
  color: #460e87;
  border: none;
  background: none;
}
.header .header-user {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .header-user span {
  color: #4f4f4f;
}
.header .header-user .header-icon__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 2px solid #460e87;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
}
.header .header-user .header-icon__container .header-icon {
  width: 25px;
  height: 25px;
}

.menu {
  height: 100%;
  width: 80px;
  background: #460e87;
  transition: 0.6s;
}
.menu .menu-title {
  color: #a985c7;
  display: none;
  white-space: nowrap;
  font-size: 20px;
}
.menu .menu-icon__info {
  color: #fff;
  display: none;
  white-space: nowrap;
}
.menu .menu-icon {
  width: 25px;
  height: 25px;
  min-width: 25px;
  min-height: 25px;
}
.menu .menu-icon path {
  fill: #a985c7;
}
.menu .menu-site-bar, .menu .menu-icon__block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 60px;
  border-bottom: 1px dashed #8ca0c7;
  box-sizing: border-box;
  cursor: pointer;
}
.menu .menu-icons__container {
  height: calc(100% - 60px);
}
.menu .menu-icons__container .menu-icon__block {
  border-bottom: none;
}
.menu .menu-icons__container .menu-icon__block .menu-icon {
  width: 30px;
  height: 30px;
}
.menu .menu-icons__container .menu-icon__block:hover {
  transition: 0.5s;
  background: #360063;
}
.menu .menu-icons__container .menu-icon__block--active {
  background: #360063;
  position: relative;
}
.menu .menu-icons__container .menu-icon__block--active path {
  fill: #fff;
}
.menu .menu-icons__container .menu-icon__block--active:before {
  display: block;
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
}

.menu__active {
  width: 300px;
}
.menu__active .menu-title {
  display: block;
}
.menu__active .menu-icon__info {
  display: block;
}
.menu__active .menu-icon__block {
  display: flex;
  justify-content: space-between;
  padding: 0 27px;
}

.main-page .menu-site-bar {
  padding: 0 27px;
  justify-content: space-between;
}

.main-page {
  display: flex;
  width: 100%;
  height: 100vh;
}
.main-page .main-content {
  width: 100%;
  background-color: #eaebef;
}

@media screen and (max-width: 991px) {
  .mobile__hidden {
    display: none;
  }
}
.questions {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 60px);
  padding: 40px;
}
.questions .questions-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 25px;
  width: 100%;
}
.questions .questions-menu__item {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #460e87;
  position: relative;
}
.questions .questions-menu__item:not(:last-child) {
  margin-right: 35px;
}
.questions .questions-menu .questions-menu__item--active:before {
  display: block;
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #460e87;
}

.questions__menu::-webkit-scrollbar {
  display: none;
}

.questions__menu {
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px dashed #8ca0c7;
  overflow: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  min-height: 66px;
}
.questions__menu .group-button {
  display: inline-block;
  cursor: pointer;
  padding: 0px 15px;
  line-height: 34px;
  border: 1px solid #999;
  border-radius: 6px;
  user-select: none;
  transition: 0.4s;
  margin-right: 10px;
  max-height: 36px;
  white-space: nowrap;
}
.questions__menu .group-button:hover {
  color: #fff;
  background: #460e87;
}
.questions__menu select {
  background: none;
  border: 1px solid #eee;
  padding: 5px 10px;
}

.questions__container {
  display: flex;
  width: 100%;
  align-items: center;
  background: #fff;
  flex-direction: column;
  margin-top: 10px;
  border-radius: 15px;
  padding: 20px 0;
  max-height: 100%;
  overflow-y: scroll;
}

.questions__show-block {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-top: 10px;
  border-radius: 15px;
  padding: 20px;
  background: #fff;
}

.questions-block {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 25px;
  -webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
}
.questions-block .questions-block__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.questions-block .questions-block__count {
  margin-bottom: 10px;
}
.questions-block .questions-block__text {
  margin-bottom: 20px;
  max-width: 800px;
  word-wrap: break-word;
  padding-right: 100px;
}
@media screen and (max-width: 991px) {
  .questions-block .questions-block__text {
    padding-right: 0;
  }
}
.questions-block .questions-block__answer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.questions-block .questions-block__answer input {
  background: none;
  border: none;
  border-bottom: 1px solid #98a9cd;
  padding: 5px 15px;
}
.questions-block .questions-block__answer .error-answer {
  border-color: red;
}
.questions-block .questions-block__answer .corrected-answer {
  border-color: green;
}
.questions-block .questions-block__answer button {
  background: none;
  border: 1px solid #98a9cd;
  color: #98a9cd;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.questions-block .questions-block__answer button:hover {
  transition: 0.5s;
  color: #fff;
  background: #98a9cd;
}

.questions .submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.questions .submit .anon label {
  font-size: 13px;
  margin-left: 5px;
}
.questions .submit .anon .questions-checkbox {
  background: none;
  border: none;
}
.questions .questions-input {
  width: 80%;
  margin-bottom: 20px;
  background: none;
  border: none;
  border-bottom: 1px solid #98a9cd;
  padding: 5px 15px;
}
.questions .questions-button {
  width: 220px;
  background: none;
  border: 1px solid #98a9cd;
  color: #98a9cd;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.questions .questions-button:hover {
  transition: 0.5s;
  color: #fff;
  background: #98a9cd;
}

.profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 60px);
  padding: 40px;
}
.profile .profile__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-top: 10px;
  border-radius: 15px;
  padding: 20px;
  background: #fff;
}
.profile .profile__user-name {
  text-align: left;
  margin-bottom: 15px;
}
.profile .exit__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  background: none;
  border: 1px solid #98a9cd;
  color: #98a9cd;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.4s;
}
@media screen and (max-width: 991px) {
  .profile .exit__container {
    width: 100%;
  }
}
.profile .exit__container:hover {
  color: #fff;
  background: #98a9cd;
}

@media screen and (max-width: 991px) {
  .questions-block .questions-block__answer {
    display: contents;
  }
  .questions-block .questions-block__answer input {
    margin-bottom: 10px;
  }

  .questions .submit {
    display: contents;
  }
  .questions .submit .anon {
    margin-bottom: 15px;
  }

  .auth .auth-form {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .auth .auth-form__container {
    flex: 2;
  }

  .menu {
    height: 60px;
    z-index: 3;
    overflow: hidden;
  }

  .menu__active {
    width: 100%;
    height: 100%;
  }

  .main-page .main-content {
    position: absolute;
    height: 100vh;
    z-index: 2;
  }
  .main-page .questions {
    padding: 20px 5px;
  }
  .main-page .questions .questions-input {
    text-align: center;
    width: 100%;
  }
  .main-page .questions .questions-button {
    width: 100%;
  }
  .main-page .questions .questions-menu__item {
    font-size: 14px;
  }

  .header {
    justify-content: flex-end;
  }
  .header .header-title {
    display: none;
  }
}

/*# sourceMappingURL=index.css.map */
